<!DOCTYPE html>
<html>
  <head>
    <title>Bier kalender</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap -->
      <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="/css/custom.css" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="/js/copytoclipboard.js"></script>

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>
    <div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="row align-items-center" style="margin:auto">
            <div class="col-xs-2">
            <div class="site-header__logo-block">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="72" viewBox="0 0 40 72" aria-hidden="true" focusable="false">                          
        <svg viewBox="0 0 346 668" id="logo-default">
				<path style="fill:#35783c;" d="M329.1 319.7H17V171.9h312.1z"></path>
				<path style="fill:#35783c;" d="M331.6 322.2H14.5V169.4h317.1v152.8z"></path>
				<path style="fill: #fff;" d="M329 467.2v.6c-.1 66-41.6 124.8-103.7 147l-5.5 1.9c-.9.3-21.1 7.5-33.1 15.2-2.8 1.8-5.4 3.9-7.8 6.1-2.2 1.9-4.7 4.1-5.9 4.1s-3.7-2.2-5.9-4.1c-2.5-2.2-5.1-4.3-7.9-6.1-12-7.7-32.3-14.9-33.1-15.2l-5.5-1.9c-62.1-22.2-103.6-81-103.7-147V331.7H329v135.5z"></path>
				<path style="fill:#35783c;" d="M71.9 563.7l-.4.4-.1.1c-3 3.2-2.9 8.3.3 11.3 3.2 3 8.3 2.9 11.3-.3 18.3-18.6 41.9-31 67.5-35.7l.3-16.3c-29.8 4.8-57.5 19-78.9 40.5zM147.9 556.2l-1.4.3-1.2.3-1.3.4-1.2.3-1.3.4-1.2.4-1.3.4-1.2.4-1.3.5-1.2.4-1.3.5-1.1.5-1.3.5-1.1.5-1.2.5-1.1.5-1.2.6-1.1.5-1.2.6-1.1.6-1.2.6-1.1.6-1.2.7-1 .6-1.2.7c-.4.2-.7.4-1 .6s-.8.5-1.2.7-.7.4-1 .6l-1.2.8-1 .6-1.2.8c-.3.2-.6.4-.9.7l-1.2.9-.9.7-1.2.9-.8.7-1.3 1c-.2.2-.5.4-.7.6-.5.4-1 .9-1.5 1.3l-.4.4c-.6.6-1.3 1.1-1.9 1.7-.2.2-.4.3-.5.5l-1.3 1.2c-3.3 2.9-3.6 8-.7 11.3 2.9 3.3 8 3.6 11.3.7.2-.2.4-.3.5-.5l1.4-1.3c11.1-10.1 24.5-17.4 39.1-21.1l.3-16.5-1.3.3-1.4.1zM274 563.7l.4.4.1.1c3 3.2 2.9 8.3-.3 11.3-3.2 3-8.3 2.9-11.3-.3-18.3-18.6-41.9-31.1-67.5-35.8l-.3-16.2c29.9 4.8 57.5 19 78.9 40.5zM198.1 556.2l1.4.3 1.2.3 1.3.4 1.2.3 1.3.4 1.2.4 1.3.4 1.2.4 1.3.5 1.2.4 1.3.5 1.1.5 1.3.5 1.1.5 1.2.5 1.1.5 1.2.6 1.1.5 1.2.6 1.1.6 1.2.6 1.1.6 1.2.7 1 .6 1.2.7c.4.2.7.4 1 .6s.8.5 1.2.7.7.4 1 .6l1.2.8 1 .6 1.2.8.9.7 1.2.9.9.7 1.2.9.8.7 1.3 1c.2.2.5.4.7.6.5.4 1 .9 1.5 1.3l.4.4c.6.6 1.3 1.1 1.9 1.7l.5.5 1.3 1.2c3.2 3.1 3.3 8.2.2 11.3-3.1 3.2-8.2 3.3-11.3.2l-1.4-1.3a92.853 92.853 0 00-39.1-21.2l-.3-16.5 1.3.3 1.4.2z"></path>
				<path style="fill:#35783c;" d="M297.2 440.2c-11.2-25.7-30-47.4-53.9-62.2 17.1-2.3 34.4-2.2 51.4.5 1.3.2 2.4-.7 2.7-1.9.1-.9-.2-1.8-1-2.3-35.9-24.6-81.9-31.3-123.3-16.3h-.1c-41.4-14.9-87.3-8.3-123.2 16.3-1.1.7-1.3 2.2-.6 3.2.5.7 1.4 1.1 2.2 1 17-2.7 34.3-2.9 51.4-.5C79 392.8 60.2 414.5 49 440.2c-.5 1.2 0 2.5 1.2 3 .8.4 1.8.2 2.4-.4 15.9-13.8 34.1-24.6 53.8-32-18.1 28-25.5 61.7-20.6 94.7.2 1.3 1.3 2.1 2.6 2 .9-.1 1.6-.8 1.9-1.6 6-19.9 24-64.7 74.6-98.1l-3.8 199.7v.3c0 6.5 5.3 11.8 11.8 11.8 6.5 0 11.8-5.3 11.8-11.8v-.4l-4-199.9c50.9 33.4 68.9 78.4 74.9 98.3.4 1.2 1.7 1.9 2.9 1.5.9-.3 1.5-1 1.6-1.9 4.9-33-2.4-66.7-20.5-94.7 19.7 7.4 37.9 18.3 53.8 32.1 1 .8 2.4.8 3.3-.2.7-.6.9-1.6.5-2.4z"></path>
				<path style="fill: #fff;" d="M294.9 284.4c-3.4-3.8-9.1-4.5-13.2-1.4 3.9-14.8-4.9-30-19.7-33.9-10.7-2.8-22.1 1-28.9 9.7l-46-21.8 42.8-20.3 6.9 14.3c1.4 3 5 4.2 8 2.8 3-1.4 4.2-5 2.8-8l-1.6-3.4 11.6-5.4 1.7 3.5c1.4 3 5 4.2 8 2.8 3-1.4 4.2-5 2.8-8l-6.9-14.2 4.4-2.1c3-1.4 4.3-5 2.9-8s-5-4.3-8-2.9L173 230.3 83.6 188c-3-1.4-6.6-.1-8 2.9-1.4 3-.1 6.6 2.9 8l4.4 2.1-6.9 14.2c-1.4 3-.2 6.6 2.8 8 3 1.4 6.6.2 8-2.8l1.7-3.5 11.6 5.4-1.6 3.4c-1.4 3-.2 6.6 2.8 8.1 3 1.4 6.6.2 8.1-2.8l6.9-14.3 42.8 20.3-46 21.8c-9.4-12.1-26.9-14.2-38.9-4.8-8.8 6.8-12.6 18.3-9.7 29-4.4-3.2-10.5-2.3-13.7 2.1s-2.3 10.5 2.1 13.7c4.1 3 9.9 2.4 13.2-1.4 1.4-1.6 2.2-3.6 2.4-5.7 8.7 12.6 26 15.8 38.6 7.1 9.4-6.5 13.9-18 11.3-29.1l54.8-26 54.8 26c-3.5 14.9 5.8 29.8 20.8 33.3 11.1 2.6 22.7-1.9 29.1-11.3.4 5.4 5.1 9.4 10.5 9 5.4-.4 9.4-5.1 9-10.5-.3-2.2-1.1-4.2-2.5-5.8zm-197.1 5.7c-7.9 3.7-17.2.3-20.9-7.6-3.7-7.9-.3-17.2 7.6-20.9 7.9-3.7 17.2-.3 20.9 7.6 3.7 7.8.4 17.1-7.4 20.8-.1 0-.1 0-.2.1zm171.3-7.6c-3.7 7.9-13 11.3-20.9 7.6-7.9-3.7-11.3-13-7.6-20.9s13-11.3 20.9-7.6c3.8 1.8 6.7 5 8.1 8.9 1.5 3.9 1.3 8.2-.5 12z"></path>
				<path d="M337 155.9H173V72.8c-.4-25.5 20-46.5 45.5-46.9 19.1-.3 34.8 14.9 35.1 34 .2 13.9-10.9 25.4-24.9 25.6-4 .1-7.8-1.2-11-3.6 7.6-6.9 8.2-18.6 1.4-26.3s-18.6-8.2-26.3-1.4c-3.6 3.3-5.8 7.9-6.1 12.7 0 0-.1.9-.1 1.3.4 23.1 19.4 41.5 42.4 41.2 27.2-.5 48.9-22.8 48.5-50-.5-32.3-27.1-58.1-59.4-57.6-38.7.6-69.6 32.4-69.1 71.2v82.9H8.9c-4.4 0-8 3.6-8 8v303.9c.1 72.8 45.9 137.6 114.4 162.1l5.5 1.9c.2.1 19.4 6.9 29.9 13.6 2 1.4 3.9 2.9 5.7 4.5l.2.2.1.1s5.2 4.3 11.6 13.3c1.6 2.6 5 3.5 7.6 1.9.8-.5 1.4-1.1 1.9-1.9 6.3-9 11.5-13.3 11.5-13.3l.1-.1.2-.2c1.8-1.6 3.7-3.2 5.7-4.5 10.5-6.7 29.6-13.6 29.8-13.6l5.6-1.9c68.5-24.5 114.2-89.3 114.3-162.1V163.9c0-4.4-3.5-8-8-8zm-8 311.3v.6c-.1 66-41.6 124.8-103.7 147l-5.5 1.9c-.9.3-21.1 7.5-33.1 15.2-2.8 1.8-5.4 3.9-7.8 6.1-2.2 1.9-4.7 4.1-5.9 4.1s-3.7-2.2-5.9-4.1c-2.5-2.2-5.1-4.3-7.9-6.1-12-7.7-32.3-14.9-33.1-15.2l-5.5-1.9c-62.1-22.2-103.6-81-103.7-147V331.7H329v135.5zm0-147.5H16.9V171.9H329v147.8z" style="fill:#191e25"></path>
      </svg>
      </svg>
      </div>
      </div>
            <div class="col-xs-10"><a class="navbar-brand" href="/">WV Online verkoopmomenten in ICS formaat</a></div>
        </div>
        
        
      </div>
      </nav>

      <div>
      <%if @error then %>
          <div class="alert alert-danger"><%=@error%></div>
      <% else %>
        <%= yield %>
      <% end %>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
